<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg7C0TwHqnpyiW1KDCz0sN1ekIP3bomFY</string>
	<key>GCM_SENDER_ID</key>
	<string>634858997845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vigyapn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vigyapn-vakbox</string>
	<key>STORAGE_BUCKET</key>
	<string>vigyapn-vakbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634858997845:ios:60838a9d6bf997e6562cdc</string>
</dict>
</plist>